body{
  background: #6fb9ff;
  color: #fff;
  font-family: Arial;
  font-weight: 200;
}
body a {
  color: #fff;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
  font-size: 105%;
  font-weight: 600;
}
